<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Трэвел.ру</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
    <div class="background_main" style="background-image: url(images/mainPage/in-dev-background.jpg);">
        <h1 id="text-travel">Данная страница находится в разработке</h1>
        <h2 id="text-under-travel">Следите за ближайшими обновлениями</h2>
        <header>
          <nav class="container">
            <a class="logo" href="/" title="Переход на главную страницу">
              <img src="images/mainPage/logo.png" alt="img">
            </a>
            <div class="burger"><span></span></div>
            <form id="searchform">
              <input class="search-text" id="text-to-find" value="" placeholder="Искать на странице..">
              <button class="clear-button" type="submit" onclick="FindOnPage('text-to-find',false); return false;"><i class="fa-solid fa-xmark"></i></button>
              <button class="submit-button" type="submit" onclick="FindOnPage('text-to-find',true); return false;"><i class="fa fa-search"></i></button>
            </form>
            <ul id="menu">
              <li><a class="menu_element" href="/" title="Вернуться главную страницу">Главная</a></li>
              <li>
                <a class="menu_element">Каталог стран</a>
                <ul>
                  <li><a href="/#background_turkey" title="Турция в каталоге стран">Турция</a></li>
                  <li><a href="/#background_oae" title="ОАЭ в каталоге стран">ОАЭ</a></li>
                  <li><a href="/#background_egypt" title="Египет в каталоге стран">Египет</a></li>
                  <li><a href="/#background_greece" title="Греция в каталоге стран">Греция</a></li>
                  <li><a href="/#background_italy" title="Италия в каталоге стран">Италия</a></li>
                  <li><a href="/#background_france" title="Франция в каталоге стран">Франция</a></li>
                  <li><a href="/#background_china" title="Китай в каталоге стран">Китай</a></li>
                  <li><a href="/#background_korea" title="Корея в каталоге стран">Корея</a></li>
                  <li><a href="/#background_vietnam" title="Вьетнам в каталоге стран">Вьетнам</a></li>
                  <li><a href="/#background_japan" title="Япония в каталоге стран">Япония</a></li>
                </ul>
              </li>
              <li><a class="menu_element" href="/#partners" title="Блок с ссылками на партнёров-спонсоров">Партнёры</a></li>
              <li><a class="menu_element" href="/#reviews" title="Отзывы о компании">Отзывы</a></li>
              <li>
                <a class="menu_element">Компания</a>
                <ul>
                  <li><a href="/aboutUs" title="Подробнее о нашей компании">О нас</a></li>
                  <li><a style="font-size: 18px" href="/feedback" title="Ссылка для связи с нами">Обратная связь</a></li>
                  <li><a>Q&A</a></li>
                </ul>
              </li>
            </ul>
          </nav>
      </header>
  </div>
  
  <footer class="footer-main">
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-col">
        <h1 style="margin-left: 30px">Каталог стран</h1>
        <ul style="margin-left: 30px">
          <li><a href="/turkey" title="Подробнее о Турции">- Турция</a></li>
          <li><a href="/oae" title="Подробнее об ОАЭ">- ОАЭ</a></li>
          <li><a href="/egypt" title="Подробнее о Египте">- Египет</a></li>
          <li><a href="/greece" title="Подробнее о Греции">- Греция</a></li>
          <li><a href="/italy" title="Подробнее об Италии">- Италия</a></li>
          <li><a href="/france" title="Подробнее о Франции">- Франция</a></li>
          <li><a href="/china" title="Подробнее о Китае">- Китай</a></li>
          <li><a href="/korea" title="Подробнее о Корее">- Корея</a></li>
          <li><a href="/vietnam" title="Подробнее о Вьетнаме">- Вьетнам</a></li>
          <li><a id="bottom" href="/japan" title="Подробнее о Японии">- Япония</a></li>
        </ul>
      </div>
  
      <div class="footer-col">
          <h1>Компания</h1>
          <ul>
            <li><a href="/reviews" title="Напишите отзыв о нас">- Отзывы</a></li>
            <li><a href="/aboutUs.html" title="Подробнее о компании">- О нас</a></li>
            <li><a href="/feedback" title="Ссылка для связи с нами">- Обратная связь</a></li>
            <li><a href="/qna" title="Ответы на часто задаваемые вопросы">- Q&A</a></li>
          </ul>
        </div>
  
      <div class="footer-col">
        <h1 style="margin-left: 30px">Партнёры</h1>
        <ul style="margin-left: 30px">
          <li><a href="https://www.tutu.ru" title="Ссылка на сайт Туту.ру">- Туту</a></li>
          <li><a href="https://www.aviasales.ru" title="Ссылка на сайт Авиасейлс.ру">- Авиасейлс</a></li>
          <li><a href="https://pegas-turistik.ru" title="Ссылка на сайт Пегас-Туристик.ру">- Пегас туристик</a></li>
        </ul>
      </div>
      
      <div class="footer-col">
        <h1>Контактная информация</h1>
        <div class="social-links">
          <a class="social-media" href="https://vk.com/nnbezgalochki" title="Группа компании ВКонтакте" target="_blank"><i class="fab fa-vk"></i></a>
          <a class="social-media" href="https://web.telegram.org" title="Группа компании в телеграме" target="_blank"><i class="fa fa-solid fa-paper-plane"></i></a>
          <a class="social-media" href="https://www.youtube.com" title="Канал компании на YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
          <a class="social-media" href="https://ok.ru/" title="Группа компании в одноклассниках" target="_blank"><i class="fab fa-odnoklassniki"></i></a>
          <h4 style="color: #fff; padding-bottom: 10px"><i class="fa fa-solid fa-envelope"></i> travel.ru@yandex.ru</h4>
          <h4 style="color: #fff"><i class="fa fa-solid fa-phone"></i> +79876543210</h4>
          <a href="/" title="Вернуться на Главную страницу" style="color: #fff; line-height: 70px; margin-left: 15 0px"><i class="fa fa-home"></i></a>
          <a href="/sitemap" title="Просмотреть карту сайта" style="color: #fff; line-height: 70px;"><i class="fa fa-sitemap"></i></a>
        </div>
      </div>
    </div>
  </div>
  </footer>
  <script src="js/search.js" defer></script>
  <script src="js/menu.js" defer></script>
</body>
</html>