<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Трэвел.ру</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
    <div class="sitemap">
      <h1>Карта сайта</h1>
      <a href="/" title="Вернуться на главную страницу" style="font-weight: bold;">- Главная</a>
      <a href="/#background_turkey" title="Просмотреть каталог стран" style="font-weight: bold;">- Каталог стран</a>
      <ul style="margin-left: 30px">
        <li><a href="/turkey" title="Подробнее о Турции">- Турция</a></li>
        <li><a href="/oae" title="Подробнее об ОАЭ">- ОАЭ</a></li>
        <li><a href="/egypt" title="Подробнее о Египте">- Египет</a></li>
        <li><a href="/greece" title="Подробнее о Греции">- Греция</a></li>
        <li><a href="/italy" title="Подробнее об Италии">- Италия</a></li>
        <li><a href="/france" title="Подробнее о Франции">- Франция</a></li>
        <li><a href="/china" title="Подробнее о Китае">- Китай</a></li>
        <li><a href="/korea" title="Подробнее о Корее">- Корея</a></li>
        <li><a href="/vietnam" title="Подробнее о Вьетнаме">- Вьетнам</a></li>
        <li><a id="bottom" href="/japan" title="Подробнее о Японии">- Япония</a></li>
      </ul>
      <a href="/#partners" title="Вернуться на главную страницу" style="font-weight: bold;">- Партнёры</a>
      <a href="/#reviews" title="Вернуться на главную страницу" style="font-weight: bold;">- Отзывы</a>
      <h2 style="font-weight: bold; margin-left: 30px; color: #000">- Компания</h2>
      <ul style="margin-left: 30px">
        <li><a href="/aboutUs" title="Подробнее о компании">- О нас</a></li>
        <li><a href="/feedback" title="Ссылка для связи с нами">- Обратная связь</a></li>
        <li><a href="/qna" title="Ответы на часто задаваемые вопросы">- Q&A</a></li>
      </ul>
    </div>
</body>
</html>